<!DOCTYPE html>
<html ng-app="welcomeApp">
<head>
	<title>WELCOME</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-title" content="WELCOME">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="application-name" content="WELCOME">

	<link rel="icon" type="image/png" href="assets/img/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="assets/css/welcome.css" />
	<link rel="stylesheet" href='assets/css/fullcalendar.min.css' />
	<link rel="stylesheet" href="assets/css/bootstrap-notify.css" />
	<link rel="stylesheet" href="assets/css/select2.css" />
	<link rel="stylesheet" href="assets/css/select2-bootstrap.css" />
	<link rel="stylesheet" href="assets/css/weather.css">

	<script src="assets/libs/jquery-3.1.0.min.js"></script>
	<script src="assets/libs/bootstrap.min.js"></script>
	<script src="assets/libs/angular.min.js"></script>
	<script src="assets/libs/angular-route.min.js"></script>
	<script src="assets/libs/angular-cookies.min.js"></script>
	<script src="assets/libs/angular-base64.js"></script>
	<script src="assets/libs/bootbox.min.js"></script>
	<script src="assets/libs/bootstrap-notify.js"></script>
	<script src="assets/libs/eModal.js"></script>
	<script src="assets/libs/select2.js"></script>
	<script src="assets/libs/moment.min.js"></script>
	<script src="assets/libs/moment-timezone.js"></script>
	<script src="assets/libs/calendar.js"></script>
	<script src="assets/libs/fullcalendar.min.js"></script>
	<script src="assets/libs/gcal.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="assets/libs/highcharts-ng.js"></script>
	<script src="assets/libs/ng-videosharing-embed.min.js"></script>
	<script src="assets/libs/n3-browserify.js"></script>
	<script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/shared/directives.js"></script>
    <script src="app/shared/filters.js"></script>
    <script src="assets/js/helperFunctions.js"></script>
	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
	    window.cookieconsent_options = {"message":"This application uses cookies","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
	</script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
	<!-- End Cookie Consent plugin -->
</head>
<body id="weather-background" body>
    <div ng-Show="isHomePage">
		<canvas id="rain-canvas" class="canvas"></canvas>
	    <canvas id="cloud-canvas" class="canvas"> </canvas>
	    <canvas id="weather-canvas" class="canvas"></canvas>
	    <canvas id="time-canvas" class="canvas"></canvas>
	    <canvas id="lightning-canvas" class="canvas"></canvas>
    </div>

	<div id="wrapper" class="container">
		<div class="well main-content ng-hide" ng-show="showMainContent">
			<div class="row">
				<div class="col-sm-6">
					<div>
					    <img ng-src="assets/img/logo_final.png" alt="logo"/>
			        </div>
					<div>
						<img ng-src="assets/img/avatar.png" class="avatar" alt="avatar"/>
						<div class="patient-name">Γεια <span ng-bind="patient.user.firstName"></span></div>
						<div ng-controller="logoutCtrl">
						    <div class="logout" style="width: 48px;" ng-click="logout()">Αποσύνδεση</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
                    <div class="row">
                        <div class=col-sm-10>
							<div class="input-group">
								<input id="search-location-input" class="form-control" type="text" placeholder="Πρόβλεψη καιρού" ng-disabled="!isHomePage">
								<span class="input-group-btn">
									<button id="search-location-button" class="btn btn-info" title="Show weather for specific location" ng-disabled="!isHomePage"><span class="glyphicon glyphicon-search"></span></button>
									<button id="geo-button" class="btn btn-info" title="Show weather for current location" ng-disabled="!isHomePage"><span class="glyphicon glyphicon-screenshot"></span></button>
								</span>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="dropdown pull-right" ng-controller="reminderCtrl">
							    <button class="btn btn-default dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
							        <span class="glyphicon glyphicon-menu-hamburger"></span>
							    </button>
							    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
							      <li class="dropdown-header">Set Reminders</li>
							      <li role="presentation" ng-click="setReminders(3600000)" ng-class="{'selected-item': reminderInterval == 3600000}"><a role="menuitem" tabindex="-1" href="">Every hour</a></li>
							      <li role="presentation" ng-click="setReminders(900000)" ng-class="{'selected-item': reminderInterval == 900000}"><a role="menuitem" tabindex="-1" href="">Every 15 minutes</a></li>		
							      <li role="presentation"  ng-click="disableReminders()" ng-class="{'selected-item': reminderInterval == -1 }"><a role="menuitem" tabindex="-1" href="">Κλειστό</a></li>
							      <li class="divider"></li>
							    </ul>
	                        </div>
                        </div>
					</div>

					<div class="pull-right">
						<div id="weather" class="hide">
							<div class="location text-info" id="location"></div>
							<div class="weather-container text-info">
								<div id="temperature-info" class="temperature-info">
									<div>
										<span id="temperature" class="weather-temperature text-info"></span>
										<span class="temp-change">
											<button id="celsius" class="btn btn-info btn-xs">&deg;C</button><button id="fahrenheit" class="btn btn-info btn-xs">&deg;F</button>
										</span>
									</div>
									<div id="weather-description" class="text-info weather-description"></div>
								</div>
							</div>
							<div class="weather-box text-info">
								<ul class="weather-info" id="weather-info">
									<li class="weather-item">Humidity: <span id="humidity"></span>%</li>
									<li class="weather-item">Wind: <span id="wind-direction"></span> <span id="wind"></span><span id="speed-unit"></span></li>
								</ul>
							</div>
						</div>
						 <div id="geo-error-message" class="geo-error-message hide"><button id='close-error' class='fa fa-times close-error'></button>It looks like we can't find your location. Please type your city into the search box above!</div>
					</div>	
				</div>
			</div>
		</div>

		<div id="notification" class='notifications top-left'></div>

		<nav class="nav navbar-inverse navigation-bar ng-hide" ng-show="showMainContent && !isHomePage">
		  <ul class="nav navbar-nav">
		    <li><a href="#home" data-icon="home"><span class="glyphicon glyphicon-home" ng-click="$route.reload()"></span>Home</a></li>    
		    <li><a href="patienthub://app" data-icon="clock"><span class="glyphicon glyphicon-time"></span>Μέτρηση</a></li>   
		    <li><a href="#questionnaires" data-icon="edit"><span class="glyphicon glyphicon-pencil"></span>Ερωτηματολόγια</a></li>    
		    <li><a href="#education" data-icon="info"><span class="glyphicon glyphicon-info-sign"></span>Εκπαιδευτικό υλικό</a></li>    
		    <li><a href="#comments" data-icon="comment"><span class="glyphicon glyphicon-blackboard"></span>Σχόλια</a></li>     
		    <li><a href="#diary" data-icon="calendar"><span class="glyphicon glyphicon-calendar"></span>Ημερολόγιο</a></li>   
		    <li><a href="#medications" data-icon="plus"><span class="glyphicon glyphicon-plus-sign"></span>Φαρμακευτική αγωγή</a></li>   
		  </ul>
		</nav>
		<div ng-view></div>
	</div>

	<script src="app/login/authService.js"></script>
	<script src="app/login/accountService.js"></script>
	<script src="app/reminders/reminderCtrl.js"></script>
	<script src="app/reminders/reminderService.js"></script>
	<script src="app/login/logoutCtrl.js"></script>
	<script src="app/login/loginCtrl.js"></script>
	<script src="app/home/homeCtrl.js"></script>
	<script src="app/modules/diary/dataService.js"></script>
    <script src="app/modules/diary/diaryCtrl.js"></script>
    <script src="app/modules/comments/dataService.js"></script>
    <script src="app/modules/comments/commentsCtrl.js"></script>
    <script src="app/modules/medications/dataService.js"></script>
	<script src="app/modules/medications/medicationsCtrl.js"></script>
	<script src="app/modules/education/dataService.js"></script>
	<script src="app/modules/education/educationCtrl.js"></script>
	<script src="app/modules/questionnaires/dataService.js"></script>
	<script src="app/modules/questionnaires/questionnairesCtrl.js"></script>
	<script src="assets/libs/weather.js"></script>	
</body>
</html>