<div class="row">
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Measurements')">
		<a href="patienthub://app"><img ng-src="assets/img/measurement.png" id="measurements" class="module-icons" alt="measurements" "'patienthub://app'" data-animate="5" animate /></a>
	</div>
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Questionnaires')">
		<a href="#questionnaires"><img ng-src="assets/img/questionnaire.png" id="questionnaires" class="module-icons" alt="questionnaire" data-animate="7" animate /></a>
	</div>
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Diary')">
		<a href="#diary"><img ng-src="assets/img/diary_home.png" id="diary" class="module-icons" alt="diary" data-animate="11" animate /></a>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Education')">
		<a href="#education"><img ng-src="assets/img/education.png" id="education" class="module-icons" alt="education" data-animate="9" animate /></a>
	</div>
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Medication')">
		<a href="#medications"><img ng-src="assets/img/medication_home.png" id="medications" class="module-icons" alt="medications" data-animate="13" animate /></a>
	</div> 
	<div class="col-sm-4 text-center" ng-if="moduleVisible('Comments')">
		<a href="#comments"><img ng-src="assets/img/messages.png" id="comments" class="module-icons" alt="comments" data-animate="15" animate /></a>
	</div>
</div>