<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<ul class="list-group">
				<li class="list-group-item history-item" ng-click="getMultipleDeviceData('BloodPressure', 'SystolicBloodPressure', 'DiastolicBloodPressure')" ng-class="{'selected-item': type == 'Blood Pressure'}">Blood Pressure	
				</li>
				<li class="list-group-item history-item" ng-click="getDeviceData('BodyWeight')" ng-class="{'selected-item': type == 'BodyWeight'}">Weight</li>
				<li class="list-group-item history-item" ng-click="getDeviceData('GlucoseMeasurement')" ng-class="{'selected-item': type == 'GlucoseMeasurement'}">Blood Glucose</li>
				<li class="list-group-item history-item" ng-click="getDeviceData('BodyTemperature')" ng-class="{'selected-item': type == 'BodyTemperature'}">Temperature</li>
				<li class="list-group-item history-item" ng-click="getDeviceData('Fev1')" ng-class="{'selected-item': type == 'Fev1'}">Spirometer Fev1				
				</li>
				<li class="list-group-item history-item" ng-click="getDeviceData('Fvc')" ng-class="{'selected-item': type == 'Fvc'}">Spirometer Fvc				
				</li>
				<!--<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  7}">Number of execerbations</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  8}">Number of hospital admissions</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  9}">Number of cigarettes smoked</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  10}">Medication adherence</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  11}">Signs of oedema</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  12}">Mood</li>
				<li class="list-group-item history-item" ng-click="" ng-class="{'selected-item': selected ==  13}">Physical Activity</li>-->
			</ul>
		</div>
		<div class="col-sm-10" google-chart chart="myChartObject" style="height: 500px;"></div>
	</div>

	<div class="loader" ng-show="loading"></div>
</div>
