<div class="row">
  <button class="btn btn-info pull-right btn-sm refresh" ng-click="refresh()">
    <span class="glyphicon glyphicon-refresh"></span>
  </button>
</div>

<div class="form-group">
  <select class="from-control" id="hcps-list" ng-options="o.specialty + ' ' + o.firstName + ' ' + o.lastName for o in hcps track by o.id" ng-model="hcp" class="form-control" data-style="btn-info" dropDown>
    <option value="">Επιλέξτε ιατρό...</option>
  </select>
</div>

<div class="panel panel-default" ng-repeat="material in educationMaterial">
  <div class="panel-heading">
    {{material.program}}
  </div>
  <div class="panel-body">
    <a ng-href="{{material.url}}" class="btn btn-link" target="_blank">{{material.title}}</a>
    <div style="font-size: 11px;">{{material.dateSent}}</div>
  </div>
</div>

<div class="text-center">
   <button type="button" class="btn btn-primary" ng-click="loadEducationMaterial()" ng-show="messages.length < total && !loading">Φόρτωσε περισσότερα</button>
</div>

<div class="loader" ng-show="loading"></div>